.NavBar{
    position: fixed;
    top: 0;
    bottom: auto;
    left:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background: rgb(44, 44, 44);
    border-radius: 15px;
    margin: 10px;
    border-Bottom: 1px solid #222;
    box-Shadow: 0 8px 32px rgba(0,0,0,0.35);
}

body {
    background: linear-gradient(135deg, #f4f7f1, #d1d3d3);
}

.NavBar img {
    height: 55px;
}

.clubname
{
    display: flex;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;

}


.icons {
   display: flex;
   gap: 5rem;
   margin-right: 13rem;
   padding-top: 8px;
   padding-right: 50px;
  
}

.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}

.title p 
{
   margin-top: 5px;
   font-size: 10px;
   font-family: 'Roboto', sans-serif;
   color: white;
   letter-spacing: 1px;
   
   
   
}

.icon 
{   
    padding: 0 70px;
    transition: transform 0.3s ease;
}
.icon:hover {
    transform: scale(1.2);
}


