
.matchdetalj {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
    text-align: center;
    max-width: auto;
    display: grid;
}

.matchdetalj .logo {
    max-width: 20%;
    height: 80%;
    border-radius: 10px;
    align-items: center;
    
}